/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@0,100;0,400;1,100&family=Rubik&display=swap");
/*ESTILOS MOBILE*/

* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.contendor_princpipal {
  display: flex;
  flex-direction: column;
}

/*ESTILOS HEADER*/

.logo {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Roboto Condensed;
  color: #002d62;
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 3rem;
}
h1 span {
  font-family: Roboto Condensed;
  color: #f9430a;
}

.logo {
  position: relative;
  overflow: hidden;
}

.logo img {
  margin-top: 1.5rem;
  width: 5.1rem;
}

/*CONTENEDOR PRODUCTO*/

.producto_contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
  margin: 8rem 6vw;
  width: 88vw;
  margin-bottom: 2rem;
}

.imagen_contenedor {
  margin: 1rem 0;
}

.imagen_contenedor img {
  width: 18rem;
}

.texto_contenedor {
  margin-bottom: 1rem;
}

.texto_contenedor * {
  margin: 0.62rem 0;
}

.texto_precio {
  font-size: 1.3rem;
  color: #a7a7a7;
  font-weight: 600;
}

.texto_envio {
  font-size: 1rem;
  color: #13c00d;
  font-weight: 600;
}

.detalle_producto {
  margin: 0 6vw;
  font-family: Rubik;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

.estrellas {
  font-size: 3rem;
  color: rgb(119, 119, 105);
}

/*BOTON VOLVER*/
.boton_volver {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #563d7c;
  color: #fff;
  width: 7rem;
  height: 2.5rem;
  font-size: 1.3rem;
  text-align: center;
  margin: 3rem auto;
  &:hover {
    background-color: #b99ce4;
    transition: 0.6s;
  }
}

/*Media Queries TABLET*/
@media screen and (min-width: 720px) {
  h1 {
    font-size: 3.6rem;
  }
  .logo img {
    width: 5.3rem;
    margin-top: 2.5rem;
  }

  .producto_contenedor {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
  }

  .texto_contenedor * {
    margin: 1.3rem 0;
  }

  .imagen_contenedor img {
    width: 19rem;
  }

  .texto_precio {
    font-size: 1.4rem;
  }

  .texto_contenedor h2 {
    font-size: 1.6rem;
  }

  .texto_envio {
    font-size: 1rem;
  }

  .estrellas {
    font-size: 3.8rem;
  }

  .detalle_producto {
    font-size: 1.4rem;
  }

  .boton_volver {
    font-size: 1.5rem;
    width: 6rem;
    height: 2.4rem;
  }
}

/*Media Queries DESKTOP*/
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  .logo img {
    width: 5.6rem;
    margin-top: 2.8rem;
  }

  .texto_contenedor * {
    margin: 1.6rem 0;
  }

  .imagen_contenedor img {
    width: 22rem;
  }

  .texto_precio {
    font-size: 1.5rem;
  }

  .texto_contenedor h2 {
    font-size: 1.75rem;
  }

  .texto_envio {
    font-size: 1.2rem;
  }

  .estrellas {
    font-size: 4.3rem;
  }

  .detalle_producto {
    font-size: 1.56rem;
  }

  .boton_volver {
    font-size: 1.6rem;
    width: 6.2rem;
    height: 2.8rem;
  }
}

@media screen and (min-width: 1300px) {
  .footer_contenedor {
    margin-top: 10rem;
  }
}
